@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-primaria: #007CE0;
    --cor-texto: #252525;
    --cor-neutra: #7E7E7E;
    --cor-cinza: #EEEEEE;
    --cor-branca: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: var(--cor-branca);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cor-neutra);
    border-radius: 10px;
    border: 0px solid var(--cor-branca);
}

body {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

header {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: white;
}

.doe {
    background-color: var(--cor-primaria);
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 700;
}

.logo {
    width: 100px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    position: relative;
    display: flex;
}

nav a {
    position: relative;
    margin: 0 20px;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--cor-texto);
    text-decoration: none;
}

nav a.active {
    color: var(--cor-primaria);
}

nav a:not(.active) {
    color: var(--cor-texto);
}


h1 {
    text-align: left;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: 800;
}



h3 {
    font-size: 40px;
    font-weight: 600;
}

h4 {
    font-size: 34px;
    font-weight: 700;
}

p {
    font-size: 27px;
    font-weight: 400;
}

text {
    font-size: 24px;
    font-weight: 400;
}

.negrito {
    font-weight: bold;
}


    .tudo {
        display: flex;
        align-items: center;
        width: 170px;
        height: 61px;
        background-color: #007CE0;
        border-radius: 26px;
        margin-right: 12px;
        color: #fff;
    }
    
    .tudo img {
        margin-left: 24px;
        margin-right: 12px;
    }
    
    .doageral {
        display: flex;
        align-items: center;
        width: 260px;
        height: 61px;
        background-color: #EEF0F2;
        border-radius: 26px;
        margin-right: 12px;
    }
    
    .doageral img {
        margin-left: 34px;
        margin-right: 24px;
    }
    
    .card-doa {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    .box-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 22px;
        border-radius: 34px;
        background-color: #fff;
        width: 494px;
        height: 620px;
    }
    
    .box-card1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-repeat: no-repeat;
        width: 494px;
        height: 502px;
        color: #fff;
    }
    
    .box-card2 {
        display: flex;
        align-items: center;
        margin-top: 20px;
        background-color: rgb(217, 217, 217, 71%);
        height: 95px;
        width: 494px;
        border-radius: 50px;
    }
    
    .box-meta {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 470px;
        height: 73px;
        margin-bottom: 18px;
        background-color: rgb(217, 217, 217, 65%);
        border-radius: 138px;
    }
    
    .progress {
        height: 5.5px;
        width: 237px;
        border-radius: 12px;
        margin-left: 20px;
        background-color: #fff;
        position: relative;
    }
    
    .progress .progress-bar {
        position: absolute;
        height: 100%;
        border-radius: 12px;
        background-color: #007CE0;
        animation: progress-animation 3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes progress-animation {
        from {
            width: 0%;
        }
        to {
            width: 65%;
        }
    }
    
    .btn-doe {
        width: 102px;
        height: 78px;
        border-radius: 50px;
        background: url(../img/btn-doe.png);
        background-repeat: no-repeat;
        border-style: none;
        margin-left: 150px;
        margin-top: 3px;
        cursor: pointer;
    }
    
    .img-box2 {
        margin-left: 8px;
        margin-top: 3px;
    }

    footer {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 300;
        font-size: 24px;
        width: 100%;
    }
    
    footer hr {
        margin-top: 100px;
        width: 57%;
    }
    
    footer .logo {
        margin-top: 65px;
        width: 180px;
        height: 47px;
    }
    
    footer h5 {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }
    
    .redes-sociais {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    
    .redes-sociais a {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        transition: background-color 0.3s ease;
    }
    
    .redes-sociais a:hover {
        background-color: #007CE0;
    }
    
    .redes-sociais a:hover img {
        filter: invert(100%);
    }
    
    @media (max-width: 1000px) {
        .redes-sociais a:hover {
            background-color: #007CE0;
        }
        .redes-sociais a:hover img {
            filter: invert(100%);
        }
        footer hr {
            margin-top: 200px;
            width: 80%;
        }
    }